<!DOCTYPE html>
<html>
<head>
<base target="_blank" />
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />


<title>天朗内部各项目资料节点</title>
<style type="text/css">
.one, .two{
	float:left;
	font-size:18px;
	color:#f00;
	width:940px;
	height:200px;
}
.one{
	border:whitepx solid #000;
	/*width: 100px;*/
}
.two{
	border:whitepx solid #00f;
}


</style>
</head>
<body bgcolor="white">
<div>
    <div class="one">
        <span style="font-size:32px;color:red;">______测试环境地址</span><br>
            <a href="http://172.16.5.161:8080/mpr/portal-mcrs-publisher/mvc/publisher/toLogin">
            MPR注册中心｜业务出版系统 mpr_20130008 aaaaaa
            </a><br>
            <a href="https://172.16.5.162:8443/mpr/mcrs-system/mvc/syslogin/login">
                MPR注册中心｜后台管理系统  xuxuerlai 123456
            </a>
    </div>

    <div class="two">
        <span style="font-size:32px;color:red;">______高仿环境地址</span><br>
            <a href="https://mcrcp.mpr.net.cn/mpr/portal-mcrs-publisher/mvc/publisher/toLogin">
                MPR注册中心｜业务出版系统 testmprzj029@163.com a111111</a><br>
            <a href="https://mcrcm.mpr.net.cn/mpr/mcrs-system/mvc/syslogin/login">
                MPR注册中心｜后台管理系统  xuzhijun islimpr123
            </a>
    </div>

    <div class="one">
        <span style="font-size:32px;color:red;">          测试环境</span><br>
            <a href="http://172.16.3.112:51117/versionserver/static/index.html#/publish/login">
                版本推送系统发布中心
            </a>
            <a href="http://172.16.3.112:51117/versionserver/static/index.html#/release/login">
                管理中心  admin  tianlang123456
            </a>

    </div>

    <div class="two">
        <img src="./LOGO/FANMEI.png"><span style="font-size:32px;color:red;"> 泛媒网——后台管理 </span><br>
        <a href="http://emnm.mpr.t/emnm/home/mvc/main/login ">
            <span style="font-size:26px;color:red;">
            泛媒网——后台管理   f_manager  123456   测试环境
            </span>
            </a><br>
        <a href="http://nemnm.isli.fm/emnm/home/mvc/main/index "> <span style="font-size:26px;color:;">
            泛媒网——后台管理   f_manager  liujun   高仿环境</span>
        </a>
    </div>


    <div class="one">
        <img src="./LOGO/ISLI-China.png"> <span style="font-size:32px;color:red;">______测试环境地址</span><br>
        <a href="https://172.16.5.163:8443/mpr/portal-mcrs-publisher/mvc/publisher/toLogin">
        中国ISLI注册中心｜业务出版系统 mpr_2014 0056   密码：a123456
        </a>
        <br>
        <a href="https://172.16.5.162:8443/mpr/mcrs-system/mvc/syslogin/login">MPR注册中心｜后台管理系统  xuxuerlai 123456</a>
        <br><br>
        <br>
        <br>
    </div>

    <div class="two">
        <img src="./LOGO/ISLI-China.png"> <span style="font-size:32px;color:red;">______高仿环境地址</span>
        <br>
        <a href="https://islip.mpr.net.cn/mpr/portal-mcrs-publisher/mvc/publisher/toLogin">
            中国ISLI注册中心｜业务出版系统 testmprzj029@163.com a111111</a>
        <br>
        <a href="https://106.75.62.229:8443/mpr/mcrs-system/mvc/syslogin/index">
            MPR注册中心｜后台管理系统  mpr_nimda liujun</a>
        <br><br>
        <br>
    </div>

    <div class="one">
        <img src="./LOGO/RMS.png"><span style="font-size:32px;color:red;">  RMS 环境配置 </span><a href="./LOGO/RMS.bat">切换环境文件下载</a>
        <br>
        <span style="font-size:26px;color:Black;">测试环境下属出版社：172.16.3.251 8443 xitest025@163.com   a123456   </span>
        <br>
        <span style="font-size:26px;color:Black;">测试环境集团出版社：172.16.3.48 8443  xitest024@163.com   a123456</span>
        <br>
        <br>
        <span style="font-size:26px;color:blue;">高仿环境下属出版社 ：  172.16.5.129  8443 mprbjwt@163.com  aaaaaa</span>

    </div>

    <div class="one">
        <img src="./LOGO/FAST.png"><span style="font-size:32px;color:red;">  MPR FAST 环境配置 </span>
        <br>
        <span style="font-size:22px;color:Black;">windows服务： 172.16.8.172:4443    admin  admin 可登录新增账号 </span>
        <br>
        <span style="font-size:22px;color:Black;">linux服务：172.16.7.98:443   admin mprfast-admin 可登录新增账号 </span>
        <br>
        <span style="font-size:22px;color:blue;">高仿环境windows地址： 192.168.1.13:4443  admin  mprfast-admin </span>
        <br>
        <span style="font-size:22px;color:blue;">高仿环境liunx地址：   172.16.7.18:443   admin  mprfast-admin  </span>
        <br>
        <br>
        <br>
        <br>
    </div>


    <div class="one">
        <img src="./LOGO/Publisher.png"><span style="font-size:32px;color:red;">  Publisher 环境配置 </span><a href="./LOGO/Publisher.bat">切换环境文件下载</a>
        <br>
        <span style="font-size:20px;color:Black;">测试环境下属出版社：172.16.3.251 8443 mpr_20160382   a123456   </span>
        <br>
        <span style="font-size:20px;color:Black;">测试环境独立出版社：172.16.3.251 8443 mpr_20130008  aaaaaa   </span>
        <br>
        <span style="font-size:20px;color:Black;">测试环境集团出版社：172.16.3.48 8443  mpr_20160381   a123456 </span>
        <br>
        <br>
        <span style="font-size:20px;color:blue;">测试环境书商帐号 ：  testmprzj002@163.com  a111111</span>

    </div>

    <div class="two">
        <img src="./LOGO/Publisher.png"><span style="font-size:32px;color:red;">  Publisher 环境配置 </span><a href="./LOGO/Publisher.bat">切换环境文件下载</a>
        <br>
        <span style="font-size:20px;color:Black;">高仿环境集团账号：mpr_20160260  a111111 </span>
        <br>
        <span style="font-size:20px;color:Black;">高仿环境书商账号：testmprzj002@163.com  a111111  </span>
        <br>
        <span style="font-size:20px;color:blue;">高仿环境下属出版社 ：  172.16.5.129  8443 mpr_20160261    a111111</span>
        <br>
        <span style="font-size:20px;color:blue;">高仿环境独立出版社 ：  172.16.5.129  8443 mpr_20130008  aaaaaa</span>

    </div>

</div>
</body>
</html>
